@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Paperlogy-8ExtraBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@layer base {
    html {
      scroll-behavior: smooth;
      font-family: 'Paperlogy-8ExtraBold';
    }
  }

  .role-text {
    display: inline-block;
    min-width: 120px;
    text-align: center;
    transform-origin: center;
    animation: fadeInUp 0.5s ease-out;
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .role-text-exit {
    animation: fadeOutDown 0.5s ease-in;
  }

  @keyframes fadeOutDown {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(-20px);
    }
  }  